@import '../../utils/mixins.scss';

.container-home {
  margin: auto;
  padding-top: 40px;
  max-width: 1200px;
  max-height: 100%;
  padding-inline: 24px;
}

.container-loader {
  display: flex;
  justify-content: center;
  height: 595px;
  margin-top: 80px;
  margin-bottom: 252px;
}

.home {
  @include pageGrid();
  row-gap: 27px;
  column-gap: 27px;
  margin-top: 20px;
  margin-bottom: 12px;

  &-pagination {
    margin-inline: auto;
    transition: background-color 0.5s ease;
    grid-column: 1 / -1;
  } 
}

.no-characters-message {
  padding-bottom: 40px;
  grid-column: 1 / -1;
  font-size: 64px;
  font-weight: 500;
  color: #F5F5F5;
  text-align: center;
}