@import '../../utils/mixins.scss';

.card {
  display: flex;
  background-color: #3C3E44;
  border-radius: 9px;
  grid-column: span 2;

  @include onPhone() {
    flex-direction: column;
  }

  &__image {
    width: 229px;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;


    @include onPhone() {
      width: 100%;
      border-bottom-left-radius: 0;
      border-top-right-radius: 9px;
    }
  }

  &__body {
    padding-top: 12.5px;
    padding-left: 13.5px;
    &-name {
      font-size: 27px;
      font-weight: 700;
      color: #F5F5F5;
    }

    &-status {
      display: flex;
      align-items: center;
      gap: 7px;
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 500;
        color: #F5F5F5;
      }

      &-mark {
        height: 9px;
        width: 9px;
        border-radius: 50%;
      }
    }
    &-location {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 20px;
    }

    &-appearence {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 8px;

      @include onTablet() {
        padding-bottom: 20px;
      }
    }

    &-title {
      font-size: 15px;
      font-weight: 500;
      color: #9E9E9E
    }

    &-text {
      font-size: 18px;
      font-weight: 400;
      color: #F5F5F5;
    }
  }

  .status-mark {
    &-green {
      background-color: #55CC44;
    }

    &-red {
      background-color: #D63D2E;
    }

    &-grey {
      background-color: #9E9E9E;
    }
  }
}